{layout name="public/layout" /}



<div class="layui-fluid">
    <div class="layui-row">
        <form class="layui-form">

            <div class="layui-form-item my-no-margin-bottom">
                <label class="layui-form-label"><span class="x-red">*</span>登陆名</label>
                <div class="layui-input-inline">
                    <input type="text" id="user_name" name="user_name" required="" lay-verify="user_name" autocomplete="off" class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux"> <span class="x-red">*</span>注意：注册后不可修改！</div>
            </div>

            <div class="layui-form-item my-no-margin-bottom">
                <label class="layui-form-label"><span class="x-red">*</span>手机</label>
                <div class="layui-input-inline">
                    <input type="text" id="phone_num" name="phone_num" required="" lay-verify="phone" autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item my-no-margin-bottom">
                <label class="layui-form-label"><span class="x-red">*</span>邮箱</label>
                <div class="layui-input-inline">
                    <input type="text" id="email" name="email" required="" lay-verify="email" autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item my-no-margin-bottom">
                <label class="layui-form-label"><span class="x-red">*</span>角色</label>
                <div class="layui-input-inline">
                    <select name="role" id="role" lay-search="">
                        <option value="">选择角色</option>
                        {foreach $role_arr as $key=>$vo }
                        <option value="{$vo.role_id}">{$vo.role_name}</option>
                        {/foreach}
                    </select>

                </div>
            </div>

            <div class="layui-form-item my-no-margin-bottom">
                <label class="layui-form-label"><span class="x-red">*</span>状态</label>
                <div class="layui-input-inline">
                    <input type="radio" name="sex" value="1" title="正常" checked="">
                    <input type="radio" name="sex" value="-1" title="禁用">
                </div>
            </div>

            <div class="layui-form-item my-no-margin-bottom">
                <label class="layui-form-label">密码</label>
                <div class="layui-input-inline">
                    <input type="text" id="password" name="password" required="" lay-verify="password" autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label"></label>
                <button class="layui-btn" lay-filter="add" lay-submit="">增加</button>
            </div>

        </form>
    </div>
</div>


<script>

    layui.use([ 'table', 'form'], function() {
        var table   = layui.table;
        var form    = layui.form;

        //自定义验证规则
        form.verify({
            user_name: function(value){
                if(value.length < 5){
                    return '登录名至少得5个字符!';
                }
            },
            password: [/(.+){6,12}$/, '密码必须6到12位'],
        });

        //监听提交
        form.on('submit(add)',function (data){




            console.log(data.fafafaf);





            return false;
        });



        function teset(param) {

            console.log(param.url);
        }



    });






</script>
