{layout name="public/layout" /}

{include file="public/navigation" /}

<div class="layui-fluid my-no-padding">
    <div class="layui-row">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body my-no-padding-bottom">
                    <form class="layui-form" lay-filter="search-form">
                        <div class="layui-inline layui-show-xs-block">
                            <input type="text" name="user_name" placeholder="请输入用户名" autocomplete="off" class="layui-input">
                        </div>
                        <div class="layui-inline layui-show-xs-block">
                            <input type="tel" name="phone_num" placeholder="请输入手机号" autocomplete="off" class="layui-input">
                        </div>
                        <div class="layui-inline layui-show-xs-block">
                            <select name="role_id" lay-filter="search_sel_change" lay-search="">
                                <option value="">请选择角色</option>
                                {foreach $role_arr as $key=>$vo }
                                <option value="{$vo.role_id}">{$vo.role_name}</option>
                                {/foreach}
                            </select>
                        </div>
                        <div class="layui-inline layui-show-xs-block">
                            <input class="layui-input" autocomplete="off" placeholder="开始日期" name="start_time" id="start_time">
                        </div>
                        <div class="layui-inline layui-show-xs-block">
                            <input class="layui-input" autocomplete="off" placeholder="截止日期" name="end_time" id="end_time">
                        </div>
                        <div class="layui-inline layui-show-xs-block">
                            <button type="button" class="layui-btn" id="search-btn"><i class="layui-icon layui-icon-search"></i></button>
                        </div>
                    </form>
                </div>
                <!--                <div class="div-divider-line"></div>-->
                <div class="layui-card-body my-no-padding-top">
                    <table class="layui-hide" id="table" lay-filter="table"></table>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/html" id="toolBarTpl">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm layui-btn-danger" lay-event="delAll">
            <i class="layui-icon layui-icon-delete"></i>批量删除
        </button>
        <button class="layui-btn layui-btn-sm" onclick="xadmin.parentOpen('添加管理员',urlParseObj.main_url+'/admin/adminAdd.html',550,450)">
            <i class="layui-icon layui-icon-add-circle-fine"></i>新增
        </button>
    </div>
</script>

<script type="text/html" id="toolTpl">
    <button type="button" onclick="xadmin.parentOpen('编辑管理员',urlParseObj.main_url+'/admin/adminEdit/admin_id/{{d.admin_id}}.html',550,450);" class="layui-btn layui-btn-normal layui-btn-xs">编辑</button>
    {{#  if(d.admin_id > 1){ }}
    <button class="layui-btn layui-btn-xs layui-btn-danger" lay-event="delOne">删除</button>
    {{#  } }}
</script>


<script>

    layui.use([ 'table', 'form', 'laydate'], function() {
        var table   = layui.table;
        var form    = layui.form;
        var laydate = layui.laydate;

        //日期
        laydate.render({
            elem : '#start_time'
        });
        laydate.render({
            elem : '#end_time'
        });

        //数据表格
        var tableId = tablefilter = 'table';
        var initTable = table.render({
            elem: '#'+tableId,
            url:"{:url('/admin/adminlist')}",
            method: 'post',
            where: getTableWhere(),
            height: layuiTableInitCfg.height /*高度设置*/,response:layuiTableInitCfg.response /*响应状态码设置*/,
            limit: layuiTableInitCfg.limit /*分页设置*/,limits:layuiTableInitCfg.limits /*分页设置*/,
            toolbar: '#toolBarTpl', //开启头部工具栏，并为其绑定左侧模板
            defaultToolbar: [],
            page: true,
            cols: [[
                {type: 'checkbox'},
                {field:'admin_id', title:'ID', width:50, unresize: true,align:'center'},
                {field:'user_name', title:'账号', width:120},
                {field:'email', title:'邮箱', width:170},
                {field:'add_time', title:'添加时间', width:160,templet:function (d) {
                        return layui.util.toDateString(d.add_time*1000,'yyyy-MM-dd HH:mm:ss');
                    }},
                {field:'last_login_time', title:'上次登录时间', width:160,templet:function (d) {
                        return layui.util.toDateString(d.last_login_time*1000,'yyyy-MM-dd HH:mm:ss');
                    }},
                {field:'last_login_ip', title:'登录IP', width:120},
                {field:'login_num', title:'登录次数', width:80,align:'right'},
                {field:'admin_status', title:'状态', width:80,templet:function (d) {
                        return d.admin_status.name;
                    }},
                {field:'role', title:'角色', width:100,align:'left',templet:function (d) {
                        return d.role ? d.role.role_name : '未知角色';
                    }},
                {fixed: 'right', title:'操作', toolbar: '#toolTpl',width: 140},
            ]],
            done:function (res, curr, count){
                window.curPage = curr;
            }

        });

        //头工具栏事件
        table.on('toolbar('+tablefilter+')', function(obj){

            if('delAll'==obj.event) {
                parent.layer.confirm('确认删除吗？',function(index){
                    parent.layer.close(index);
                    var checkStatus = table.checkStatus(obj.config.id);
                    var ids_arr = checkStatus.data.map(function (item){
                        return item.admin_id;
                    });

                    //获取当前iframe页面的 tab-id，并赋值给父页面
                    parent.iframeTabId= $(window.frameElement).attr("tab-id");
                    delAdmin(ids_arr.join(','),function (){
                        //刷新子页面列表
                        parent.$("iframe[tab-id="+parent.iframeTabId+"]")[0].contentWindow.tableReload();
                    });
                });
            }

        });

        //监听行工具事件
        table.on('tool('+tablefilter+')', function(obj){

            if('delOne'===obj.event){
                layer.confirm('确认删除吗？', function(index){
                    layer.close(index);
                    delAdmin(obj.data.admin_id,function (){
                        obj.del();
                    });
                });
            }
        });

        //监听搜索
        $('#search-btn').click(function() {
            tableReload();
        });

        //监听选择框检索条件变化
        form.on('select(search_sel_change)', function(data) {
            tableReload();
        });

        //获取检索条件
        function getTableWhere() {
            //console.log('列表检索条件',form.val('search-form'));
            return form.val('search-form');
        }

        //重载列表
        window.tableReload = function (cur_page) {
            //默认重载当前页
            if(!cur_page || cur_page<=0) {
                cur_page = window.curPage;
            }
            initTable.reload({
                where: getTableWhere(),
                page: {
                    curr: cur_page,  //重新加载当前页
                }
            });
        }

        //删除
        function delAdmin(ids,callback) {
            if(ids.length==0) {
                parent.layer.alert('没有选中任何记录！');
                return false;
            }
            parent.showLoading();
            httpTool.httpPost({
                url:'{:url("/admin/adminDel")}',
                data:{ids:ids},
                success:function (res){
                    if('1'==res.code) {
                        parent.layer.msg(res.msg);

                        //回调函数
                        if(typeof callback=='function') callback(res);

                    }else{
                        parent.layer.alert(res.msg, {icon : 5});
                    }
                },
                complete:function (res) {
                    parent.closeLoading();
                }
            });
        }

    });
</script>
