{layout name="public/layout" /}

<style>
    .layui-form-select dl dd {
        line-height: 28px;
    }
</style>

<div class="layui-fluid">
    <div class="layui-row">
        <form class="layui-form">

            <div class="layui-form-item my-no-margin-bottom">
                <label class="layui-form-label"><span class="x-red">*</span>名称</label>
                <div class="layui-input-inline">
                    <input type="text" value="这里是名称" name="auth_name" required="" placeholder="请输入名称" lay-verify="auth_name" autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item my-no-margin-bottom">
                <label class="layui-form-label"><span class="x-red">*</span>类型</label>
                <div class="layui-input-inline">
                    <select name="auth_type" lay-search="" lay-filter="auth_type" lay-verify="required">
                        <option value="">选择类型</option>
                        <option value="1">模块</option>
                        <option value="2">导航</option>
                        <option value="3">菜单</option>
                        <option value="4">节点</option>
                    </select>
                </div>
            </div>

            <div class="layui-form-item my-no-margin-bottom">
                <label class="layui-form-label">上级菜单</label>
                <div class="layui-input-inline">
                    <select name="auth_pid" lay-search="" id="auth_pid">
                        <option value="">选择上级菜单</option>
                    </select>
                </div>
            </div>

            <div class="layui-form-item my-no-margin-bottom">
                <label class="layui-form-label">控制器</label>
                <div class="layui-input-inline">
                    <select name="auth_c" lay-search="" lay-filter="auth_c" id="auth_c">
                        <option value="">选择控制器</option>
                        {foreach $controller_list as $key=>$vo}
                        <option value="{$vo}">{$vo}</option>
                        {/foreach}
                    </select>
                </div>
            </div>

            <div class="layui-form-item my-no-margin-bottom">
                <label class="layui-form-label">控制器方法</label>
                <div class="layui-input-inline">
                    <select name="auth_a" lay-search="">
                        <option value="">选择控制器方法</option>
                    </select>

                </div>
            </div>

            <div class="layui-form-item my-no-margin-bottom">
                <label class="layui-form-label">排序</label>
                <div class="layui-input-inline">
                    <input type="text" value="50" name="sort" lay-verify="number" autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item my-no-margin-bottom">
                <label class="layui-form-label">图标class名称</label>
                <div class="layui-input-inline">
                    <input type="text" value="icon-class" name="icon_class" autocomplete="off" class="layui-input">
                </div>
            </div>


            <div class="layui-form-item">
                <label class="layui-form-label"></label>
                <button type="submit" class="layui-btn" lay-filter="submit" lay-submit="">保存</button>
            </div>

        </form>
    </div>
</div>


<script>

    layui.use(['form'], function() {
        var form    = layui.form;

        //自定义验证规则
        form.verify({
            auth_name: function(value){
                if(value.length < 2){
                    return '名称至少得2个字符!';
                }
            },
        });

        //监听提交
        form.on('submit(submit)',function (data){
            console.log(data);
            showLoading('保存中...');
            httpTool.httpPost({
                url:'{:url("/admin/menuAuthAdd")}',
                data:data.field,
                success:function (res){
                    if('1'==res.code) {
                        xadmin.close();
                        //刷新子页面列表
                        parent.$("iframe[tab-id="+parent.iframeTabId+"]")[0].contentWindow.tableReload(1);

                    }else{
                        layer.alert(res.msg, {icon : 5});
                    }
                },
                complete:function (res) {
                    closeLoading();
                }
            });

            return false;
        });

        //监听类型选择
        form.on('select(auth_type)',function (data){
            console.log(data);
            if(!data.value || '1'==data.value) {
                $('#auth_pid').html('');
                form.render('select');
                return false;
            }
            //获取数据
            getOrSaveData({data_type:'parent_menu',auth_type:data.value},function (res){
                $('#auth_pid').html(res.data);
                form.render('select');
            });
        });

        //监听控制器选择
        form.on('select(auth_c)',function (data){
            console.log(data);
            if(!data.value) {
                return false;
            }
            //获取数据
            getOrSaveData({data_type:'controller_action',auth_c:data.value},function (res){
                var sel_option = '<option value="">选择控制器方法</option>'
            });
        });

        //获取/保存数据
        function getOrSaveData(data,callback,msg) {
            //加载框
            msg ? showLoading(msg) : showLoading('加载中...');

            httpTool.httpPost({
                url:'{:url("/admin/menuAuthAdd")}',
                data:data,
                success:function (res){
                    if('1'==res.code) {
                        //回调函数
                        if(typeof callback=='function') callback(res);
                    }else{
                        layer.alert(res.msg, {icon : 5});
                    }
                },
                complete:function (res) {
                    closeLoading();
                }
            });
        }


    });// end  layui.use


</script>
