{layout name="public/layout" /}

<style>
    .tree {
        padding-left: 80px;
        padding-top: 55px;
        padding-bottom: 20px;
    }
    .layui-icon.layui-icon-file {
        margin-left: -2px;
        margin-right: -2px;
    }
    .layui-btn-container {
        width: 100%;
        position: fixed;
        z-index: 100;
        text-align: center;
        padding-top: 10px;
        background-color: #ffffff;
    }
    hr {
        margin: 0px;
    }
</style>

<div class="layui-btn-container">
    <button type="button" class="layui-btn layui-btn-sm" lay-event="selectAll">全选</button>
    <button type="button" class="layui-btn layui-btn-sm" lay-event="unSelectAll">全取消</button>
    <button type="button" class="layui-btn layui-btn-sm" lay-event="spreadAll">全部折叠</button>
    <button type="button" class="layui-btn layui-btn-sm" lay-event="unSpreadAll">全部展开</button>
    <button type="button" class="layui-btn layui-btn-sm" lay-event="doSave">保存</button>
    <hr>
</div>

<div id="auth_tree" class="tree"></div>


<script>

    var role_id = '{$role_id}';

    layui.use(['tree','util'], function() {

        var tree = layui.tree;
        var util = layui.util;

        var tree_data = [];

        //获取权限树数据
        getOrSaveData({'data_type':'tree_data','role_id':role_id},function (res){
            tree_data = res.data;
            renderTree(tree_data)
        },'权限获取中...');


        //按钮事件
        util.event('lay-event', {
            selectAll: function(othis){
                //重载实例
                tree.reload('auth_tree', {
                    data : reSetTreeData(tree_data,true,'')
                });
            },
            unSelectAll: function(){ //全部取消
                //重载实例
                tree.reload('auth_tree', {
                    data : reSetTreeData(tree_data,false,'')
                });
            },
            spreadAll: function(){
                //重载实例
                tree.reload('auth_tree', {
                    data : reSetTreeData(tree_data,'',false)
                });

            },
            unSpreadAll: function(){
                //重载实例
                tree.reload('auth_tree', {
                    data : reSetTreeData(tree_data,'',true)
                });
            },
            doSave: function (){
                var checkedData = tree.getChecked('auth_tree'); //获取选中节点的数据
                var ids = getCheckedDataIds(checkedData);
                console.log(ids);
                if(!ids) {
                    layer.alert('未选择任何数据', {icon : 5});
                    return false;
                }
                //进行保存
                getOrSaveData({'role_id':role_id,ids:ids},function (res){
                    xadmin.close();
                    parent.layer.msg('操作成功');
                },'保存中...');
            }
        });

        //处理选中的数据，返回选中的id
        function getCheckedDataIds(check_data) {
            var ids = '';
            check_data.map(function (item,index,arr) {
                ids += item.id + ',';
                if(item.children) ids += getCheckedDataIds(item.children);
            });
            return ids;
        }

        //修改属性组建原始数据
        function reSetTreeData(tree_data,checked,spread) {
            tree_data.map(function (item,index,arr){
                if(typeof(checked)=='boolean') item.checked = checked;
                if(typeof(spread)=='boolean') item.spread = spread;
                if(item.children) reSetTreeData(item.children,checked,spread);
            });
            return tree_data;
        }

        //渲染树形组件
        function renderTree(tree_data) {
            tree.render({
                elem: '#auth_tree',
                data: tree_data,
                showCheckbox: true,  //是否显示复选框
                id: 'auth_tree',
                isJump: false, //是否允许点击节点时弹出新窗口跳转
            });
        }

        //获取/保存数据
        function getOrSaveData(data,callback,msg) {
            //加载框
            msg ? showLoading(msg) : showLoading('加载中...');

            httpTool.httpPost({
                url:'{:url("/admin/roleAuthEdit")}',
                data:data,
                success:function (res){
                    if('1'==res.code) {
                        //回调函数
                        if(typeof callback=='function') callback(res);
                    }else{
                        layer.alert(res.msg, {icon : 5});
                    }
                },
                complete:function (res) {
                    closeLoading();
                }
            });
        }

    });// end  layui.use
</script>