<div class="left-nav">
    <div id="side-nav">
        <ul id="nav">
            {foreach $menulist as $menu_one}
            <li>
                <a href="javascript:void(0);">
                    <i class="iconfont left-nav-li" lay-tips="{$menu_one['auth_name']}">&#xe6b8;</i>
                    <cite>{$menu_one['auth_name']}</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
                <ul class="sub-menu">
                    {foreach $menu_one['children'] as $menu_child_first}
                    <li>
                        {if condition="empty($menu_child_first['children'])"}
                        <a onclick="xadmin.add_tab('{$menu_child_first.auth_name}','{$menu_child_first._href}')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>{$menu_child_first['auth_name']}</cite>
                        </a>
                        {else /}
                        <a href="javascript:void(0);">
                            <i class="iconfont">&#xe70b;</i>
                            <cite>{$menu_child_first['auth_name']}</cite>
                            <i class="iconfont nav_right">&#xe697;</i>
                        </a>
                        <ul class="sub-menu">
                            {foreach $menu_child_first['children'] as $menu_child_second}
                            <li>
                                <a onclick="xadmin.add_tab('{$menu_child_second.auth_name}','{$menu_child_second._href}')">
                                    <i class="iconfont">&#xe6a7;</i>
                                    <cite>{$menu_child_second['auth_name']}</cite></a>
                            </li>
                            {/foreach}
                        </ul>
                        {/if}
                    </li>
                    {/foreach}
                </ul>
            </li>
            {/foreach}
        </ul>
    </div>
</div>
