<!--通过模板标签方式，启用模板布局，需要关闭配置文件中的模板布局配置-->
{layout name="public/layout" /}

<div class="x-nav">
    <span class="layui-breadcrumb">
        <a href="javascript:void(0);">首页</a>
        <a href="javascript:void(0);">演示</a>
        <a href="javascript:void(0);"><cite>导航元素</cite></a>
    </span>
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" onclick="location.reload()" title="刷新">
        <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i>
    </a>
</div>

<div class="layui-fluid">
    <div class="layui-row">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body">
                    <form class="layui-form" lay-filter="search-form">
                        <div class="layui-inline layui-show-xs-block">
                            <input class="layui-input" autocomplete="off" placeholder="开始日期" name="start" id="start">
                        </div>
                        <div class="layui-inline layui-show-xs-block">
                            <input class="layui-input" autocomplete="off" placeholder="截止日期" name="end" id="end">
                        </div>
                        <div class="layui-inline layui-show-xs-block">
                            <input type="text" name="username" placeholder="请输入用户名" autocomplete="off" class="layui-input">
                        </div>
                        <div class="layui-inline layui-show-xs-block">
                            <input type="tel" name="tel" placeholder="请输入手机号" autocomplete="off" class="layui-input">
                        </div>
                        <div class="layui-inline layui-show-xs-block">
                            <button type="button" class="layui-btn" id="search-btn"><i class="layui-icon layui-icon-search"></i></button>
                        </div>
                    </form>
                </div>
<!--                <div class="div-divider-line"></div>-->
                <div class="layui-card-body">
                    <table class="layui-hide" id="table" lay-filter="table"></table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    layui.use([ 'table', 'form', 'laydate'], function() {
        var table   = layui.table;
        var form    = layui.form;
        var laydate = layui.laydate;

        var tableId = tablefilter = 'table';
        var initTable = table.render({
            elem: '#'+tableId,
            url:"{:url('/users/userList')}",
            method: 'post',
            where: getTableWhere(),
            height: layuiTableInitCfg.height /*高度设置*/,response:layuiTableInitCfg.response /*响应状态码设置*/,
            limit: layuiTableInitCfg.limit /*分页设置*/,limits:layuiTableInitCfg.limits /*分页设置*/,
            toolbar: '#toolBarTpl', //开启头部工具栏，并为其绑定左侧模板
            defaultToolbar: [],
            page: true,
            cols: [[
                {type: 'checkbox'},
                {field:'admin_id', title:'ID', width:60, unresize: true, sort: true,align:'center'},
                {field:'user_name', title:'账号', width:120,align:'center'},
                {field:'email', title:'邮箱', width:170,align:'center'},
                {field:'add_time', title:'添加时间', width:160,align:'center',templet:function (d) {
                        return layui.util.toDateString(d.add_time*1000,'yyyy-MM-dd HH:mm:ss');
                    }},
                {field:'last_login_time', title:'上次登录时间', width:160,align:'center',templet:function (d) {
                        return layui.util.toDateString(d.last_login_time*1000,'yyyy-MM-dd HH:mm:ss');
                    }},
                {field:'last_login_ip', title:'登录IP',align:'center', width:120},
                {field:'login_num', title:'登录次数', width:120,align:'center'},
                {field:'admin_status', title:'状态', width:80,align:'center',templet:function (d) {
                        var statusArr = {'1':'正常','2':'禁用'};
                        return statusArr[d.admin_status];
                    }},
                {field:'role_name', title:'角色', width:100,align:'center'},
                {fixed: 'right', title:'操作', toolbar: '#toolTpl', width:100,align:'center'},
            ]],

        });

        //获取检索条件
        function getTableWhere() {
            var formdata = form.val('search-form');
            console.log(formdata);
        }



        $('#search-btn').click(function (){
            console.log(window);
        });

    });





</script>













